.outers{
    display:flex;
    flex-direction: column;
    min-height: 450px;
    width: 30%;
    margin-left: 35%;
    margin-left: 35%;
    margin-top: 10%;
    background-color:blueviolet;
    justify-content: space-around;
    align-items:center;
}
body{
    background-color:darkgray;
}

.inner{
   color:white;
   letter-spacing: 2px;
   font-weight: 800;
}

.link:hover{
  border:2px solid white
}


.link:active{
  background-color: black;
  color: white;
}


.link{
    text-decoration:none;
    color:white
}
